extends ../../Layout/default.pug
block main 
    h1(class="mb-4") #{titlePage}

    form(action =`/admin/songs/edit/${song.id}?_method=PATCH` method ="POST" enctype ="multipart/form-data")
        div(class="form-group")
            label(for="title") Tiêu Đề
            input(type="text" class="form-control" id="title" name="title" required value=song.title)
        div(class="form-group")
            label(for="topic") Chủ Đề
            select(name="topicId" id="topic" class="form-control" required)
                option(value="" disabled ) -- Chọn Chủ Đề --
                each item in topic 
                    option(value=item.id selected=(item.id == song.topicId ? true : false)) #{item.title}
        div(class="form-group")
            label(for="singer") Ca sĩ
            select(name="singerId" id="singer" class="form-control" required)
                option(value="" disabled ) -- Chọn Chủ Đề --
                each item in singer 
                    option(value=item.id) #{item.fullName}
        div(class="form-group" upload-image)
            label(for="avatar") Chọn ảnh 
            input(type="file" class="form-control-file" id="avatar" name="avatar" accept="image/*" upload-image-input required)
            img(src=song.avatar class="image-preview" upload-image-preview)
        div(class="form-group" upload-audio)
            label(for="audio") File Âm Thanh
            input(type="file" class="form-control-file" id="audio" name="audio" accept="audio/*" upload-audio-input)
            audio(controls upload-audio-play)
                source(src=song.audio)
        div(class="form-control")
            label(for="lyrics") Lời Bài Hát 
            textarea(name="lyrics" id="lyrics" rows="20" class="form-control")  
        div(class="form-group")
            label(for="desc") Mô Tả
            textarea(type="text" class="form-control" id="desc" name="description" rows="5" textarea-mce) #{song.description}
        div(class="form-group form-check form-check-inline")
            input(type="radio" class="form-check-input" id="statusActive" name="status" value="active" checked)
            label(for="statusActive" class="form-check-label") Hoạt Động
        div(class="form-group form-check form-check-inline")
            input(type="radio" class="form-check-input" id="statusActive" name="status" value="inactive" checked)
            label(for="statusInactive" class="form-check-label") Dừng Hoạt Động
        div(class="form-group")
            button(type="submit" class="btn btn-primary") Chỉnh sửa

 
